#Beeinhaltet die verwendeten Pakete
#Zur Installation: #python3 -m pip install -r requirements.txt

spacy == 3.4.3
elasticsearch == 8.5.0
gensim == 4.2.0
streamlit ==1.21.0
streamlit-aggrid==0.3.3
pandas==1.5.2
numpy==1.24.0
nltk~=3.8.1
jobimtextapi~=1.0.1
tqdm~=4.64.1